// font-family
$font-primary: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
$font-roboto: "Roboto", sans-serif;
$font-arial:  "Arial", Sans-Serif; 

// $font-primary: "Noto Sans JP", sans-serif;

// colors
$color-primary: #00A0F5;
$color-sec: #753AB3;
$color-white: #ffffff;
$color-black: #000;
$color-dblue: #0078F0;
$color-dylw: #E6D500;
$color-lylw: #FFF258;
$color-pink: #FF3976;
$color-dpink: #FC0080;
$color-purple: #8719AA;