.header {
    position: fixed;
    width: 100%;
    z-index: 50;

    &-wpr {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 5px 13px 5px 15px;

        @include mq("tablet") {
            padding: 15px 10px 10px 10px;
        }

        @include mq("bootstrap-lg") {
            padding: 15.5px 19.3px 10px 25.5px;
        }
    }

    &-logo {
        width: 111px;

        @include mq("tablet") {
            width: 80px;
        }

        @include mq("bootstrap-lg") {
            width: 100px;
        }

        @include mq("desktop") {
            width: 150px;
        }
    }

    &-rgt {
        display: flex;
        align-items: center;
        gap: 11.3px;

        @include mq("tablet") {
            gap: 15px;
        }

        @include mq("bootstrap-lg") {
            gap: 32px;
        }
    }

    &-menu {

        @include mq("tablet", "max") {
            opacity: 0;
            visibility: hidden;
            max-height: 0;

            position: fixed;
            width: 100%;
            max-width: 330px;
            height: calc(100vh - 51px);
            top: 60px;
            right: 0;

            background: $color-black;
            transition: all .3s ease-in-out;

        }

        &.open {
            opacity: 1;
            visibility: visible;
            max-height: 100%;
            z-index: 100;
            transition: all .3s ease-in-out;
        }
    }


    .hamburger {
        display: block;
        cursor: pointer;
        width: 17.38px;
        height: 15px;
        @include mq("tablet") {
           display: none;
        }

        span {
            display: block;
            background-color: $color-white;
            width: 100%;
            height: 2px;
            transition: all .3s ease-in-out;
        }

        .line {
            &-scd {
                margin-top: 4.5px;
            }

            &-trd {
                margin-top: 5px;
            }
        }
        &.close{
            .line {
                &-fst{
                    transform: rotate(50deg);
                    margin-top: 5px;
                }
                &-scd {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    margin-top: 0;
                }
    
                &-trd {
                    transform: rotate(135deg);
                    margin-top: -2px;
                }
            }
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 48px 0 0 30px;

        @include mq("tablet") {
            flex-direction: row;
            gap: 13px;
            padding: 0;
        }

        @include mq("bootstrap-lg") {
            gap: 20px;
        }

        &-link {
            color: $color-white;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;

            @include mq("tablet") {
                font-size: 12px;
                line-height: 15px;
            }

            @include mq("bootstrap-lg") {
                font-size: 14px;
                line-height: 18px;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

    &-btn {
        display: flex;
        gap: 3px;

        @include mq("tablet") {
            gap: 5px;
        }

        &-link {
            text-align: center;
            position: relative;
            background-color: $color-white;
            color: $color-dblue;
            border-radius: 25px;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 96px;
            height: 40px;
            // padding-block: 17px 15px;

            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            z-index: 2;

            @include mq("tablet") {
                min-width: 110px;
                height: 35px;
            }

            @include mq("bootstrap-lg") {
                min-width: 140px;
                height: 50px;
                font-size: 14px;
                line-height: 18px;
            }

            @include mq("desktop") {
                min-width: 166px;
            }

            &.-white {
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    background: linear-gradient(to right, $color-purple, $color-dpink);
                    opacity: 0;
                    top: 0;
                    left: 0;
                    transition: all .3s ease-in-out;
                    z-index: -1;
                }

                &:hover {
                    color: $color-white;
                    border: 1px solid $color-pink;
                    // padding-block: 16px 14px;

                    &::after {
                        opacity: 1;
                    }
                }

            }

            &.-ylw {

                // background-color: ;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    background: linear-gradient(to right, $color-dylw, $color-lylw);
                    opacity: 1;
                    top: 0;
                    left: 0;
                    transition: all .3s ease-in-out;
                    z-index: -1;
                }

                &:hover {
                    background-color: $color-white;
                    color: $color-pink;

                    &::after {
                        opacity: 0;
                    }
                }
            }

        }
    }
}